<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ruoyi.project.module.address.mapper.CountryMapper">

	<resultMap type="Country" id="CountryResult">
		<result property="countryId" column="id" />
		<result property="countryName" column="country_name" />
		<result property="phoneCode" column="phone_code" />
		<result property="countryCode" column="country_code" />
		<result property="status" column="status" />
		<result property="createBy" column="create_by" />
		<result property="createTime" column="create_time" />
		<result property="updateBy" column="update_by" />
		<result property="updateTime" column="update_time" />
		<result property="remark" column="remark" />
	</resultMap>

	<select id="selectCountryById" parameterType="Long"
		resultMap="CountryResult">
		select id, country_name, phone_code, country_code, status, create_by,
		create_time, update_by, update_time, remark from sys_address_country
		where id = #{id}
	</select>

	<select id="selectCountryList" parameterType="Country"
		resultMap="CountryResult">
		select id, country_name, phone_code, country_code, status, create_by,
		create_time, update_by, update_time, remark from sys_address_country
		<where>
			<if test="countryId != null and countryId != ''"> and id = #{countryId}</if>
			<if test="countryName != null and countryName != ''"> 
<!-- 			and country_name = #{countryName} -->
			and country_name like concat('%',#{countryName},'%')
			</if>
			<if test="phoneCode != null and phoneCode != ''"> and phone_code = #{phoneCode}</if>
			<if test="countryCode != null and countryCode != ''"> and country_code = #{countryCode}</if>
			<if test="status != null and status != ''"> and status = #{status}</if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
			<if test="remark != null and remark != ''"> and remark = #{remark}</if>
		</where>
	</select>

	<insert id="insertCountry" parameterType="Country">
		insert into sys_address_country (
		<if test="countryId != null and countryId != '' ">id, </if>
		<if test="countryName != null and countryName != '' ">country_name, </if>
		<if test="phoneCode != null and phoneCode != '' ">phone_code, </if>
		<if test="countryCode != null and countryCode != '' ">country_code, </if>
		<if test="status != null and status != '' ">status, </if>
		<if test="createBy != null and createBy != '' ">create_by, </if>
		<if test="remark != null and remark != '' ">remark, </if>
		<if test="updateBy != null and updateBy != '' ">update_by, </if>
		<if test="updateTime != null and updateTime != '' ">update_time, </if>
		create_time
		)values(
		<if test="countryId != null and countryId != ''">#{countryId}, </if>
		<if test="countryName != null and countryName != ''">#{countryName}, </if>
		<if test="phoneCode != null and phoneCode != ''">#{phoneCode}, </if>
		<if test="countryCode != null and countryCode != ''">#{countryCode}, </if>
		<if test="status != null and status != ''">#{status}, </if>
		<if test="createBy != null and createBy != ''">#{createBy}, </if>
		<if test="remark != null and remark != ''">#{remark}, </if>
		<if test="createTime != null and createTime != ''">#{createTime}, </if>
		<if test="updateBy != null and updateBy != ''">#{updateBy}, </if>
		<if test="updateTime != null and updateTime != ''">#{updateTime}, </if>
		sysdate()
		)
	</insert>

	<update id="updateCountry" parameterType="Country">
		update sys_address_country
		<set>
			<if test="countryName != null and countryName != ''">country_name = #{countryName}, </if>
			<if test="phoneCode != null and phoneCode != ''">phone_code = #{phoneCode}, </if>
			<if test="countryCode != null and countryCode != ''">country_code = #{countryCode}, </if>
			<if test="status != null and status != ''">status = #{status}, </if>
			<if test="createBy != null and createBy != ''">create_by = #{createBy}, </if>
			<if test="createTime != null and createTime != ''">create_time = #{createTime}, </if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy}, </if>
			<if test="updateTime != null and updateTime != ''">update_time = #{updateTime}, </if>
			<if test="remark != null and remark != ''">remark = #{remark}</if>
		</set>
		where id = #{countryId}
	</update>

	<delete id="deleteCountryByIds" parameterType="Long">
		delete from sys_address_country where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<select id="checkCountryCodeUnique" parameterType="String" resultType="int">
		select count(*) from sys_address_country where country_code=#{countryCode}
	</select>
</mapper>