<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.module.ip.mapper.IpMapper">
    
    <resultMap type="Ip" id="IpResult">
        <result property="id"    column="id"    />
        <result property="ipAddress"    column="ip_address"    />
        <result property="userName"    column="user_name"    />
        <result property="password"    column="password"    />
        <result property="expirationDate"    column="expiration_date"    />
        <result property="providerId"    column="provider_id"    />
        <result property="ipLevel"    column="ip_level"    />
        <result property="renewalStatus"    column="renewal_status"    />
        <result property="usageStatus"    column="usage_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="providerName"    column="provider_name"    />
    </resultMap>
	
	<sql id="selectIpVo">
        select id, ip_address, user_name, password, expiration_date, provider_id, ip_level, renewal_status, usage_status, create_by, create_time, update_by, update_time from sys_ip
    </sql>
	
	<select id="selectIpRenewalList" resultMap="IpResult">
		SELECT 
		    i.id,
		    i.ip_address,
		    i.user_name,
		    i.password,
		    i.expiration_date,
		    i.provider_id,
		    i.ip_level,
		    i.renewal_status,
		    i.usage_status,
		    i.create_by,
		    i.create_time,
		    i.update_by,
		    i.update_time,
		    p.provider_name
		FROM
		    sys_ip i
		        LEFT JOIN
		    sys_ip_provider p ON i.provider_id = p.id
        <where>  
			i.expiration_date &lt;= #{renewalDate}
         </where>
	</select>
	
    <select id="selectIpList" parameterType="Ip" resultMap="IpResult">
        SELECT 
		    i.id,
		    i.ip_address,
		    i.user_name,
		    i.password,
		    i.expiration_date,
		    i.provider_id,
		    i.ip_level,
		    i.renewal_status,
		    i.usage_status,
		    i.create_by,
		    i.create_time,
		    i.update_by,
		    i.update_time,
		    p.provider_name
		FROM
		    sys_ip i
		        LEFT JOIN
		    sys_ip_provider p ON i.provider_id = p.id
        <where>  
            <if test="id != null and id != ''"> and i.id = #{id}</if>
             <if test="ipAddress != null and ipAddress != ''"> and i.ip_address = #{ipAddress}</if>
             <if test="userName != null and userName != ''"> and i.user_name = #{userName}</if>
             <if test="password != null and password != ''"> and i.password = #{password}</if>
             <if test="expirationDate != null and expirationDate != ''"> and i.expiration_date = #{expirationDate}</if>
             <if test="providerId != null and providerId != ''"> and i.provider_id = #{providerId}</if>
             <if test="ipLevel != null and ipLevel != ''"> and i.ip_level = #{ipLevel}</if>
             <if test="renewalStatus != null and renewalStatus != ''"> and i.renewal_status = #{renewalStatus}</if>
             <if test="usageStatus != null and usageStatus != ''"> and i.usage_status = #{usageStatus}</if>
             <if test="createBy != null and createBy != ''"> and i.create_by = #{createBy}</if>
             <if test="createTime != null and createTime != ''"> and i.create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and i.update_by = #{updateBy}</if>
             <if test="updateTime != null and updateTime != ''"> and i.update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectIpById" parameterType="Integer" resultMap="IpResult">
        <include refid="selectIpVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertIp" parameterType="Ip">
        insert into sys_ip (
			<if test="id != null and id != '' ">id, </if>
			<if test="ipAddress != null and ipAddress != '' ">ip_address, </if>
			<if test="userName != null and userName != '' ">user_name, </if>
			<if test="password != null and password != '' ">password, </if>
			<if test="expirationDate != null ">expiration_date, </if>
			<if test="providerId != null and providerId != '' ">provider_id, </if>
			<if test="ipLevel != null and ipLevel != ''"> ip_level, </if>
			<if test="renewalStatus != null and renewalStatus != '' ">renewal_status, </if>
			<if test="usageStatus != null and usageStatus != '' ">usage_status, </if>
			<if test="createBy != null and createBy != '' ">create_by, </if>
			<if test="updateBy != null and updateBy != '' ">update_by, </if>
			<if test="updateTime != null and updateTime != '' ">update_time,</if>
			create_time
        )values(
			<if test="id != null and id != ''">#{id}, </if>
			<if test="ipAddress != null and ipAddress != ''">#{ipAddress}, </if>
			<if test="userName != null and userName != ''">#{userName}, </if>
			<if test="password != null and password != ''">#{password}, </if>
			<if test="expirationDate != null">#{expirationDate}, </if>
			<if test="providerId != null and providerId != ''">#{providerId}, </if>
			<if test="ipLevel != null and ipLevel != ''"> #{ipLevel}, </if>
			<if test="renewalStatus != null and renewalStatus != ''">#{renewalStatus}, </if>
			<if test="usageStatus != null and usageStatus != ''">#{usageStatus}, </if>
			<if test="createTime != null and createTime != ''">#{createTime}, </if>
			<if test="updateBy != null and updateBy != ''">#{updateBy}, </if>
			<if test="updateTime != null and updateTime != ''">#{updateTime},</if>
			now()
		)
    </insert>
	 
    <update id="updateIp" parameterType="Ip">
        update sys_ip 
        <set>
            <if test="ipAddress != null and ipAddress != ''">ip_address = #{ipAddress}, </if>
            <if test="userName != null and userName != ''">user_name = #{userName}, </if>
            <if test="password != null and password != ''">password = #{password}, </if>
            <if test="expirationDate != null">expiration_date = #{expirationDate}, </if>
            <if test="providerId != null and providerId != ''">provider_id = #{providerId}, </if>
			<if test="ipLevel != null and ipLevel != ''"> ip_level = #{ipLevel}, </if>
            <if test="renewalStatus != null and renewalStatus != ''">renewal_status = #{renewalStatus}, </if>
            <if test="usageStatus != null and usageStatus != ''">usage_status = #{usageStatus}, </if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy}, </if>
            <if test="createTime != null and createTime != ''">create_time = #{createTime}, </if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy}, </if>
            <if test="updateTime != null and updateTime != ''">update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>
	
	<delete id="deleteIpById" parameterType="Integer">
        delete from sys_ip where id = #{id}
    </delete>
	
    <delete id="deleteIpByIds" parameterType="String">
        delete from sys_ip where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>